---
import Navbar from "../components/Navbar.astro";
import { getUrl } from "../util/path";
---

<html>
  <link rel="icon" type="image/x-icon" href=`${getUrl('ec_logo.svg')}` />
  <title>About</title>
  <body>
    <Navbar />
    <main class="container">
      <h1>About</h1>
      <p>
        Welcome to my site!
      </p>
      <p>
        I deleted the loreum ipsum.
      </p>
      <p>
        It's fake Latin anyway.
      </p>
    </main>
  </body>
</html>
<style>
  .container {
    max-width: 800px;
    margin: auto;
  }

  body {
    margin: 0;
  }
</style>
